<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alcatrazstudios.apps.androidtracker">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.GpsTrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.GpsTrackerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.GpsTrackerBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.GpsTrackerConnectivityReceiver"
            android:enabled="true"
            android:permission="android.permission.ACCESS_NETWORK_STATE">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.GpsConfigurationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.GpsConfigurationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.GpsConfigurationChangerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.UploadDataAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.SendDataService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.CallLogBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.CallLogService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.SmsLogService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.SmsLogBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.GpsConfigurationChangeReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.GpsTrackerAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.LocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.UploadAudioService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.CallRecordingsSaveService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.SaveCallRecordsReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.TService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.CallRecordsReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.UploadAudioReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.BackgroundUploadService"
            android:exported="false" />
        <service
            android:name=".services.FilesToUploadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.PermissionsActivity"></activity>
    </application>

</manifest>